.reise-card-content a[href*="detail"] {
  float: left;
}

.reise-card-content a[href*="buchen"] {
  float: right;
}

.reise-card-content {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 270px;
  height: 470px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);

}


.reise-card-content .header {
  background: #000000;
  height: 400px;
  overflow: hidden; 

}

.reise-card-content .header .zeitraum {
  position: absolute;
  top: 20px;
  right: 0;
  background: #e74c3c;
  color: white;
  padding: 2px;
}
.reise-card-content .header img {
  display: block;
  width: 120%;
  transition: all 0.3s linear 0s;
}
.reise-card-content .body {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  min-height: 250px;
}
.reise-card-content .body .kategorie {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.reise-card-content .body .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.reise-card-content .body .kurzbeschreibung {
  display: block; 
  height: auto; 
  opacity: 1;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.reise-container {
  max-width: 800px;
  min-width: 640px;
  margin: 0 auto;
}

.reise-container .reise-card {
  width: 50%;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
  margin: .75rem 0 .75rem 0;
}


@media (max-width: 768px) {
    .reise-container .reise-card {
      width: 75%;
      margin: 0;
      padding: 0;
    }
}

.body .content-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
}


#buchung input[type="text"], #buchung input[type="number"], 
#buchung input[type="date"], #buchung input[type="email"], #buchung input[type="tel"],
#buchung select {
  color: #444;
  background-color: rgba(255, 255, 255, 0.85);
    
  border: 1px solid #ccc;
  border-radius: 5px;
    
  height: 2em;
  margin-bottom: .50rem;
  padding: .25em .35em;
}

#buchung input.person, #buchung select.person {
 
  display: block; 
  width: 50%;
}

#buchung label.person {
  float: left;
  width: 10%;

  padding: .25rem;
}


.buchungUebersichtTable {
  width: 100%;
}

.buchungUebersichtTable td, .buchungUebersichtTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.buchungUebersichtTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.buchungUebersichtTable tr:hover {
  background-color: #ddd;
}

.buchungUebersichtTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(165,168,93);
  color: white;
}



/* Kategorie Nav*/

#navKategorie {
    width: 100%; /* wegen position:absolute */
    padding: 0;
    z-index: 1; /* steht VOR Suchfeld (wichtig für Dropdown-Menü für Mobilgeräte) */
    
    border-color: #bbb;
    border-width: 1px;
    border-style: solid none;
    
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  
}


#navKategorie ul {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;

}

#navKategorie ul li:hover{
    background-color: grey;
}


#navKategorie ul li {
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    line-height: 1.7em;
    border-left: 1px solid #bbb;
}

#navKategorie ul li {
  background-color: lightblue;
}

#navKategorie ul li.active {
  background-color: orange;
}
#navKategorie ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

#navKategorie ul li a:hover {
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
