/**********************************************************/
/* stylesheet.css                                         */
/* wird auf allen Seiten des Kundenbereichs eingebunden   */
/**********************************************************/

@charset "utf-8";

@font-face {
    font-family:"Coaster Quake";
    src: url(../../fonts/coaster_quake-webfont.ttf);
}

:root {
    
    --background_color: #eff0f1;
    --background_color_body:  #fff;
    --footer_height: 3.5rem;
    --small_font_size: .9rem;

    --border_radius: 5px;

    --header_height: 20rem;

    --title_heading_font_size: 6rem;

    --teaser_title_font_size: 6rem;
    --nav_bg_color_2: #8bbef1;
    --nav_bg_color_1: #e9eaeb;

    --button_color: rgba(46, 49, 49, 0.7);
    --button_color_hover: #8fbc8f;

}

* {
    margin: 0;
}

html {
    font-size: 100%;
    padding: 0;
    background-color: var(--background_color);
    overflow-x: hidden;
}

body {   
    font-size: 1em;
    font-family: "Comic Sans MS", sans-serif;
    text-align: left;

    min-height: 100vh; /* footer immer unten */
    padding: 0 0 var(--footer_height) 0; /* Platz für footer */
    position: relative; /* für position:absolute des footers */
    
    background-color: var(--background_color_body);
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
    margin: 0 auto; /* zentrieren */

    max-width: 1400px;
    box-sizing: border-box; /* padding wird nicht zur Höhe addiert */
}


#header {

    height: var(--header_height);
    position: relative; /* wegen position:absolute von nav und search */

    background: url(../../images/header_mountain.jpg) no-repeat left center;
    background-size:cover;
}

#header h1, #header h2 {
    font-family: "Coaster Quake";
    
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  
    white-space: nowrap; /* kein Zeilenumbruch */
    color: #fff;

}

#header h1 {
   padding-top: 5rem;
   font-size: var(--title_heading_font_size); 
}

#header h2 {
    font-size: 3rem;
}

@media (max-width: 750px) {

    #header h1 {
        padding-top: 0.5rem;
    }

    #header h2 {
        display: none;
    }
}

#content {
    padding: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {

    #content {
        padding: 0.75rem;
    }

}


#content article {
    margin-bottom: 1.5rem;
}

#header #search {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.7rem;
    margin: 0 auto;
    width: 40%;
}

@media (max-width: 768px) {

    #header #search  {
        width: 80%;
    }

}


#header #search input[type="search"] {

    width: 100%; /* Suchfeld hat gesamte Breite des 40% breiten Containers */

    color: #444;
    background-color: rgba(255, 255, 255, 0.85);
    
    border: 1px solid #ccc;
    border-radius: 5px;
    
    height: 2em;
    margin: 0;
    padding: .25em .35em;
}


@media (max-width: 750px) {
    #header {
        height: calc(var(--header_height) / 4 * 3);
    }
}

@media (max-width: 600px) {
    #header {
        height: calc(var(--header_height) / 2);
        background-position: left top;
    }
}


#header a#title {
    color: #fff;
    text-decoration: none;
    display: block;
}



#header nav {
    width: 100%; 
    padding: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    
    border-color: #bbb;
    border-width: 1px;
    border-style: solid none;
    
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  
    background-color: var(--nav_bg_color_2);
   
}

#header nav ul li:hover{
    background-color: grey;
}

#header nav ul {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
}

#header nav ul li {
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    line-height: 1.7em;
    border-left: 1px solid #bbb;
}

#header nav ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

#header nav ul li a:hover {
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}


@media (max-width: 800px) {
    #header nav {
        /* "Button": */
        color: #fff;
        width: 3rem;
        height: 2rem;
        
        top: .5rem;
        right: .5rem;
        left: auto; /* ursprüngl. Position zurücksetzen */
        
        border-style: none;
        border-radius: 4px;
        background-color: brown;
    }
    
    #header nav::before {
        content: "\2261";
        font-size: 2rem;
        text-align: center;
        line-height: .8em;
        display: block;
        cursor: pointer;
    }
    
    #header nav ul {
        display: none; /* Menü ausblenden */
        width: auto;
        position: absolute;
        right: 0;
        top: 100%; /* unterer Rand des Buttons */
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: var(--border_radius);

    }
    
    #header nav:hover ul {
        display: block; /* Menü einblenden, display:table zurücksetzen */
    }
    
    #header nav ul li {
        display: block; /* display:table-cell zurücksetzen */
        text-align: left;
        line-height: auto;
        
        border-color: #888;
        border-width: 1px;
        border-style: solid none none none;

    }
    
    #header nav ul li a {
        padding: .3rem 1rem;
    }
    
    #header nav ul li a:hover {
        color: #fff;
       background-color: orange;
    }
    
    #header nav ul li:first-child {
        border-top-style: none; /* oberstes Listenelement hat keine Kontur */
    }
    
    #header nav ul li:first-child a {
        border-top-left-radius: var(--border_radius);
        border-top-right-radius: var(--border_radius);
    }
    
    #header nav ul li:last-child a {
        border-bottom-left-radius: var(--border_radius);
        border-bottom-right-radius: var(--border_radius);
    }
}



/* Footer: */

#footer {
    color: #fff;
    font-size: var(--small_font_size);
    padding: 1rem;
    
    /* footer immer unten: */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--nav_bg_color_2);
}

#footer nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

#footer nav ul li {
    display: inline; /* nebeneinander */
}

#footer nav ul li::after {
    content: "|";
    margin: 0 0.3rem;
}

#footer nav ul li:last-child::after {
    content: none;
    margin: 0;
}

.message, .errors {
    color: #ff0000;
}


/**************************************************/
/*                  Autocomplete                  */     
/**************************************************/
#autocomplete {
    position: absolute;
    width: 100%;
}

#autocomplete li {

    background-color: white;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);

    list-style: none;
    display: table;
    margin-left: -40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    
}
#autocomplete li:hover {
  background: yellow;
}

.box-container {

    padding: 0 0 15px 15px; 
    border: 2px solid grey; 
    min-height: 100px; 
    box-shadow: 5px 10px #888888; 
    background-color: whitesmoke;
    
    margin: .75rem 5rem .75rem 5rem;
}

