/* Variablen: */

:root {
    /* Typographie: */
    --base_fonts: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    
    --small_font_size: .9rem;
    --heading_font_size: 4rem;
    --title_heading_font_size: 10rem;
    
    /* Farben: */
    --base_color: #333;
    --heading_color: #777;
    --nav_hover_color: #2070bb;
    
    --document_bg_color_1: #eff0f1;
    --document_bg_color_2: #c7cacf;
    
    --nav_bg_color_1: #fafafa;
    --nav_bg_color_2: #e9eaeb;
    
    --nav_mobile_bg_color_1: #555;
    --nav_mobile_bg_color_2: #000;
    
    --nav_mobile_hover_bg_color_1: #59b4fd;
    --nav_mobile_hover_bg_color_2: #0560e8;
    
    --sidebar_box_bg_color: #e0e1e4;
    
    --sidebar_box_heading_bg_color_1: #bec6d3;
    --sidebar_box_heading_bg_color_2: #7c8089;
    
    --footer_bg_color_1: #111;
    --footer_bg_color_2: #444;
    
    /* Layout: */
    --header_height: 20rem;
    --footer_height: 3.5rem;
    
    --border_radius: 5px;
}

/* Allgemein: */

* {
    margin: 0;
}

html {
    font-size: 100%;
    padding: 0;
    background-attachment: fixed; /* Verlauf scrollt nicht mit */
    background-image: linear-gradient(var(--document_bg_color_1), var(--document_bg_color_2));
}

body {
    color: var(--base_color);
    font-family: var(--base_fonts);
    font-size: 1em;
    text-align: left;
    
    min-width: 320px;
    max-width: 1400px;
    min-height: 100vh; /* footer immer unten */
    padding: 0 0 var(--footer_height) 0; /* Platz für footer */
    position: relative; /* für position:absolute des footers */
    
    background-color: #fff;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* padding wird nicht zur Höhe addiert */
}

@media (min-width: 1025px) {
    body {
        width: 90%;
        margin: 0 auto; /* zentrieren */
    }
}


small {
    font-size: 0.8em;
}

h1, p {
    margin-bottom: 1rem;
}

h1 {
    font-weight: normal;
    font-style: normal;
}

p {
    line-height: 1.5em;
}

p:last-child {
    margin-bottom: 0 !important;
    /* letzter Absatz soll Elemente nicht zusätzlich vergrößern */
}


/* optional: schickes Suchfeld */
input[type="search"] {
    font: inherit;
    color: #444;
    background-color: rgba(255, 255, 255, 0.85);
    
    border: 1px solid #ccc;
    border-radius: var(--border_radius);
    
    height: 2em;
    margin: 0;
    padding: .25em .35em;
   

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    /* Übergang zwischen Zuständen (normal/focus) */
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

input[type="search"]:focus {
    background-color: #fff;
    border-color: #99baca;
    outline: 0;
}

/* Standard-Erscheinungsbild in Chrome & Safari entfernen: */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Platzhaltertext des Suchfelds ausgrauen (ist sonst u.U. schwarz): */
::-webkit-input-placeholder {
    color: #a9a9a9;
}

::-moz-placeholder {
    color: #a9a9a9;
}

:-ms-input-placeholder {
    color: #a9a9a9 !important;
}

/* Klassen: */

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.italic {
    font-style: italic;
}

.figure_right {
    margin: 2rem auto;
}

.figure_right img {
    max-width: 100%; /* Breite der Bilder an figure anpassen */
    display: block;
    margin: 0 auto; /* zentrieren */
}

@media (min-width: 801px) {
    .figure_right {
        max-width: 30%;
        float: right;
        margin: 0 0 1rem 1rem;
    }
    
    .figure_right img {
        width: 100%; /* Bild soll gesamte figure ausfüllen */
        height: auto; /* proportionale Skalierung */
        margin: 0;
    }
}

/* gemeinsame Eigenschaften verschiedener Elemente: */

#content,
#sidebar,
#sidebar article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Layout: */

/* Header: */
#header {
    height: var(--header_height);
    position: relative; /* wegen position:absolute von nav und search */
    background: url(../images/flowers.jpg) no-repeat left center;
    background-size: cover;
}

@media (max-width: 750px) {
    #header {
        height: calc(var(--header_height) / 4 * 3);
    }
}

@media (max-width: 600px) {
    #header {
        height: calc(var(--header_height) / 2);
        background-position: left top;
    }
}

#header #search {
    /* Zentrierung absolut positionierter Elemente:
       Werte für left und right gleichzeitig auf 0 setzen */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.7rem;
    margin: 0 auto;
    width: 40%;
}

#header #search input[type="search"] {
    width: 100%; /* Suchfeld hat gesamte Breite des 40% breiten Containers */
}

#header a#title {
    color: #fff;
    text-decoration: none;
    display: block;
}

#header a#title h1 {
    font-size: var(--title_heading_font_size);
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    line-height: 2em;
    white-space: nowrap; /* kein Zeilenumbruch */
}

@media (max-width: 750px) {
    #header a#title h1 {
        font-size: calc(var(--title_heading_font_size) / 1.55);
    }
}

@media (max-width: 600px) {
    #header a#title h1 {
        font-size: calc(var(--title_heading_font_size) / 2);
        line-height: 1.7em;
    }
}

#header nav {
    width: 100%; /* wegen position:absolute */
    padding: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* steht VOR Suchfeld (wichtig für Dropdown-Menü für Mobilgeräte) */
    
    border-color: #bbb;
    border-width: 1px;
    border-style: solid none;
    
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(var(--nav_bg_color_1), var(--nav_bg_color_2));
}

#header nav ul {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
}

#header nav ul li {
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    line-height: 1.7em;
    border-left: 1px solid #bbb;
}

#header nav ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

#header nav ul li a:hover {
    color: var(--nav_hover_color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

@media (max-width: 800px) {
    #header nav {
        /* "Button": */
        color: #fff;
        width: 3rem;
        height: 2rem;
        
        top: .5rem;
        right: .5rem;
        left: auto; /* ursprüngl. Position zurücksetzen */
        
        border-style: none;
        border-radius: 4px;
        background-image: linear-gradient(var(--nav_mobile_bg_color_1), var(--nav_mobile_bg_color_2));
    }
    
    #header nav::before {
        /* Menü-Icon
           (alternativ wäre auch background-image möglich): */
        content: "\2261";
        font-size: 2rem;
        text-align: center;
        line-height: .8em;
        display: block;
        cursor: pointer;
    }
    
    #header nav ul {
        display: none; /* Menü ausblenden */
        width: auto;
        position: absolute;
        right: 0;
        top: 100%; /* unterer Rand des Buttons */
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: var(--border_radius);
    }
    
    #header nav:hover ul {
        display: block; /* Menü einblenden, display:table zurücksetzen */
    }
    
    #header nav ul li {
        display: block; /* display:table-cell zurücksetzen */
        text-align: left;
        line-height: auto;
        
        border-color: #888;
        border-width: 1px;
        border-style: solid none none none;
    }
    
    #header nav ul li a {
        padding: .3rem 1rem;
    }
    
    #header nav ul li a:hover {
        color: #fff;
        background-image: linear-gradient(var(--nav_mobile_hover_bg_color_1), var(--nav_mobile_hover_bg_color_2));
    }
    
    #header nav ul li:first-child {
        border-top-style: none; /* oberstes Listenelement hat keine Kontur */
    }
    
    #header nav ul li:first-child a {
        border-top-left-radius: var(--border_radius);
        border-top-right-radius: var(--border_radius);
    }
    
    #header nav ul li:last-child a {
        border-bottom-left-radius: var(--border_radius);
        border-bottom-right-radius: var(--border_radius);
    }
}

/* Content & Sidebar: */
#content {
    padding: 1.5rem;
    margin-bottom: 1rem; /* Platz für "sidebar" unterhalb */
}

#sidebar {
    padding: 0 1.5rem;
}

@media (min-width: 801px) {
    #content {
        width: 68%;
        float: left;
    }
    
    #sidebar {
        width: 30%;
        padding: 1.5rem 1.5rem 0 0;
        float: right;
    }
}

@media (min-width: 1025px) {
    #content {
        width: 73%;
    }
    
    #sidebar {
        width: 25%;
    }
}

/* Elemente im Content: */
#content h1 {
    color: var(--heading_color);
    font-size: var(--heading_font_size);
    line-height: 1.2em;
}

@media (max-width: 600px) {
    #content h1 {
        font-size: calc(var(--heading_font_size) / 1.3);
    }
}

#content p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#content figcaption {
    font-size: var(--small_font_size);
    font-style: italic;
    margin-top: .5rem;
}

/* Elemente in der Sidebar: */
#sidebar article {
    margin: 0 0 2rem 0;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--sidebar_box_bg_color);
    border: 1px solid #bbb;
    border-radius: var(--border_radius);
}

@media (min-width: 601px) and (max-width: 800px) {
    #sidebar article {
        /* Boxen nebeneinander: */
        float: left;
        width: 30%;
        margin-right: 5%;
    }
    
    #sidebar article:last-child {
        margin-right: 0;
    }
}

#sidebar article h1 {
    color: #fff;
    font-family: var(--base_fonts);
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    margin: 0 -1rem 1rem -1rem;
    padding: 0.4rem 1rem;
    
    background-image: linear-gradient(var(--sidebar_box_heading_bg_color_1), var(--sidebar_box_heading_bg_color_2));
    
    border-top-left-radius: calc(var(--border_radius) - 1px);
    border-top-right-radius: calc(var(--border_radius) - 1px);
}

#sidebar article h1 a {
    color: #fff; /* falls Überschriften verlinkt sind */
}

/* Footer: */
#footer {
    color: #fff;
    font-size: var(--small_font_size);
    padding: 1rem;
    
    /* footer immer unten: */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #333;
    background-image: linear-gradient(var(--footer_bg_color_1), var(--footer_bg_color_2));
}

#footer a {
    color: inherit;
}

#footer nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

#footer nav ul li {
    display: inline; /* nebeneinander */
}

#footer nav ul li::after {
    content: "|";
    margin: 0 0.3rem;
}

#footer nav ul li:last-child::after {
    content: none;
    margin: 0;
}

/* Lightbox: */

#content .lightbox {
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

#content .lightbox:target {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background: rgba(0, 0, 0, .7);
    
    /* reset figure_right: */
    margin: 0 !important;
    max-width: none !important;
    float: none !important;
    
}

#content .lightbox:target img {
    max-width: 100%;
    max-height: 100%;
    
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    
    /* reset figure_right: */
    width: auto !important;
    margin: auto !important;
}

#content .lightbox a[href^="#"]:hover {
    text-decoration: none;
}

#content .lightbox a.lightbox_close {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: .9em;
    cursor: pointer;
    
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 50%;
    
    width: 1.5rem;
    height: 1.5rem;
    padding: .1em;
    display: none;
}

#content .lightbox:target a.lightbox_close {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
}

#content .lightbox:target figcaption {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* reset */
    font-size: 1rem;
    font-style: normal;
    margin: 0;
}
