#reiseTable {
	width: 100%;
}

#reiseTable td, #reiseTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#reiseTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#reiseTable tr:hover {
	background-color: #ddd;
}

#reiseTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF9800;
  color: white;
}
